<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>


    <div id="app">
        <h1 class="message" >
            {{ message }}
        </h1>
        <div>
            <ul>
                <li v-for="item in items">
                    {{ item.items }}
                </li>
            </ul>

            <ul>
                <li v-for="number in 10">
                    {{ number }}
                </li>
            </ul>

            <ul>
                <li v-for="number in 10">
                    {{ (number % 2 === 0)}}
                </li>
            </ul>
        </div>
    </div>


    <script src="js/myscript.js"></script>
</body>
</html>